<div class="breadcrumb-wrapper">
  <div class="breadcrumb-container">
    <!-- Breadcrumb Crumbs (left side) -->
    <ng-container *ngIf="hasCrumbs()">
      <ng-container *ngFor="let crumb of crumbs; let i = index; let last = last">
        <div 
          class="breadcrumb-segment" 
          [class.active]="isActive(i)"
          (click)="!last && onCrumbClick(i)"
          [title]="crumb">
          <div class="segment-content">
            <span class="segment-text">{{ crumb }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
    
    <!-- Period Buttons (right side) -->
    <div class="period-separator" *ngIf="hasCrumbs()"></div>
    <div class="period-buttons-container">
      <ng-container *ngFor="let period of periods; let i = index; let last = last">
        <div 
          class="breadcrumb-segment period-segment" 
          [class.active]="isPeriodActive(period)"
          [class.period-first]="i === 0"
          (click)="selectPeriod(period)"
          [title]="period">
          <div class="segment-content">
            <span class="segment-text">{{ period }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
