<div class="bg-muted w-full max-w-md space-y-6 rounded-lg shadow-lg">
  <!-- Header -->
  <div class="max-h-screen overflow-y-auto">
    <div class="mb-0 bg-white text-center">
      <svg-icon src="assets/logo/NIBIRU_LOGO_COLORFUL_TRANSPARENT_BLACK_BG.svg" [svgClass]="'h-20 w-100 mr-2'"> </svg-icon>
    </div>

    <div class="m-0 px-8 py-5">
      <!-- Form -->
      <form class="space-y-6" [formGroup]="form">
        <div class="text-center">
          <h2 class="text-foreground mb-1 text-lg font-semibold">Setup New Password</h2>
          <p class="text-white-foreground text-sm">
            Have you already reset the password ?
            <a class="text-sm text-red-500" routerLink="/auth/sign-in"> Log in</a>
          </p>
        </div>
        <!-- Password -->
        <div class="form__group relative">
          <label for="password" class="text-white-foreground mb-1 block text-left text-sm font-medium"
            >Password <span class="text-red-500">*</span></label
          >
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [ngClass]="{ 'is__invalid-input': submitted && (f['password'].errors || form.errors?.['passwordsMismatch']) }"
            class="bg-background text-foreground focus:border-primary focus:ring-primary block w-full rounded-md border px-3 py-2 text-sm focus:outline-none focus:ring-1"
            placeholder="Enter your password"
            formControlName="password" />
          <span class="text-muted-foreground absolute top-8 right-3 cursor-pointer" (click)="togglePassword()">
            <svg-icon
              [src]="
                showPassword ? 'assets/icons/heroicons/outline/eye.svg' : 'assets/icons/heroicons/outline/eye-off.svg'
              "
              [svgClass]="'h-5 w-5'">
            </svg-icon>
          </span>
          @if( (submitted && f['password'].invalid) || (f['password'].invalid && (f['password'].dirty ||
          f['password'].touched))){
          <div class="text-white mt-1 text-left text-xs">
            @if(f['password'].errors?.['required']){
            <div>Required field</div>
            } @if(f['password'].errors?.['invalidPassword']){
            <div>
              Password must include at least one lowercase letter, one uppercase letter, one number, and one special
              character, and be between 8 to 12 characters long.
            </div>
            }
          </div>
          }
        </div>

        <!-- Confirm Password -->
        <div class="form__group relative">
          <label for="confirm_password" class="text-white-foreground mb-1 block text-left text-sm font-medium"
            >Confirm Password <span class="text-red-500">*</span></label
          >
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirm_password"
            [ngClass]="{
        'is__invalid-input': submitted && (f['confirm_password'].errors || form.errors?.['passwordsMismatch'])
      }"
            class="bg-background text-foreground focus:border-primary focus:ring-primary block w-full rounded-md border px-3 py-2 text-sm focus:outline-none focus:ring-1"
            placeholder="Re-enter your password"
            formControlName="confirm_password" />
          <span class="text-muted-foreground absolute top-8 right-3 cursor-pointer" (click)="toggleConfirmPassword()">
            <svg-icon
              [src]="
                showConfirmPassword
                  ? 'assets/icons/heroicons/outline/eye.svg'
                  : 'assets/icons/heroicons/outline/eye-off.svg'
              "
              [svgClass]="'h-5 w-5'">
            </svg-icon>
          </span>
          @if( (submitted && f['confirm_password'].invalid) || (f['confirm_password'].invalid &&
          (f['confirm_password'].dirty || f['confirm_password'].touched))){
          <div class="text-white mt-1 text-left text-xs">
            @if(f['confirm_password'].errors?.['required']){
            <div>Required field</div>
            } @if(f['confirm_password'].errors?.['invalidPassword']){
            <div>
              Password must include at least one lowercase letter, one uppercase letter, one number, and one special
              character, and be between 8 to 12 characters long.
            </div>
            } @if(f['confirm_password'].errors?.['passwordMismatch']){
            <div>Passwords do not match.</div>
            }
          </div>
          }
        </div>

        <!-- Submit Button -->
        <div>
          <app-button full impact="bold" tone="primary" shape="rounded" size="medium" (buttonClick)="onSubmit()">
            Submit
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
