<div
  class="bg-muted lg:min-w-md max-h-screen w-full max-w-full overflow-hidden rounded-lg shadow-lg sm:max-w-md md:max-w-md">
  <!-- Header Logo -->
  <div class="bg-white text-center">
    <svg-icon src="assets/logo/NIBIRU_LOGO_COLORFUL_TRANSPARENT_BLACK_BG.svg" [svgClass]="'h-20 w-auto mx-auto'"> </svg-icon>
  </div>

  <!-- Form Section -->
  <div class="px-8 py-6">
    <form class="space-y-6" [formGroup]="form">
      <!-- Heading -->
      <div class="text-center">
        <h2 class="text-foreground mb-1 text-lg font-semibold">Forgot Your Password</h2>
        <p class="text-sm text-red-500">We'll send you an email with a reset link</p>
      </div>

      <!-- Email Field -->
      <div class="form__group">
        <label for="email" class="text-white-foreground mb-1 block text-left text-sm font-medium">
          Email address <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="email"
          [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
          class="bg-background text-foreground focus:border-primary focus:ring-primary block w-full rounded-md border px-3 py-2 text-sm focus:outline-none focus:ring-1"
          placeholder="Enter your email"
          formControlName="email" />
        @if( (submitted && f['email'].invalid) || (f['email'].invalid && (f['email'].dirty || f['email'].touched))){
        <div class="text-white mt-1 text-left text-xs">
          @if(f['email'].errors?.['required']){
          <div>Required field</div>
          } @if(f['email'].errors?.['email']){
          <div>Enter a valid email address</div>
          }
        </div>
        }
      </div>

      <!-- Submit & Cancel Buttons -->
      <div class="flex flex-col space-y-3 sm:flex-row sm:justify-between sm:space-x-3 sm:space-y-0">
        <div class="w-full">
          <app-button full impact="bold" tone="primary" shape="rounded" size="medium" (click)="onSubmit()"
            >Reset Password</app-button
          >
        </div>
      </div>

      <div class="text-white-foreground flex items-center justify-center text-center text-sm">
        Already have an account?
        <app-button routerLink="/auth/sign-in" impact="none" tone="primary" shape="rounded" size="small">
          Login here
        </app-button>
      </div>
    </form>
  </div>
</div>
